name: Node.js 

on:
  push:
    branches:
      - main

  pull_request:
    types: [closed]
    branches:
      - main

jobs:
   build:
    name: Build Docker Image
    runs-on: self-hosted
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/my-node-app:latest \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/my-node-app:${{ github.sha }} \
            .

  docker-push:
    name: Push Image to Docker Hub
    runs-on: self-hosted
    needs: build

    steps:
      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_PASS}}" | docker login \
            -u "${{ secrets.DOCKERHUB_USERNAME }}" \
            --password-stdin

      - name: Push Docker images
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-node-app:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-node-app:${{ github.sha }}
