name: Node.js 

on:
  push:
    branches:
      - main

  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  build:
    name: Build Docker Image
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-image-demo:latest \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-image-demo:${{ github.sha }} \
            .

  docker-push:
    name: Push Image to Docker Hub
    runs-on: self-hosted
    needs: build

    steps:
      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
            -u "${{ secrets.DOCKERHUB_USERNAME }}" \
            --password-stdin

      - name: Push Docker images
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-image-demo:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-image-demo:${{ github.sha }}
